
* {
    padding :0 ;
    margin : 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*_________________________________________HEADER SECTION________________________________________________*/

nav {
    background :#262626;
    height : 80px;
    width : 100%;
    position : sticky;
    top : 0px;
}

.logo {
    color: green ;
    width : 130px;
    font-size: 36px;
    line-height : 60px;
    padding : 0 25px;   
    text-align: center;
    box-sizing: border-box;
    float : left;
    font-weight: 700;
    text-decoration: none;
}

nav ul {
    float : right;
    margin-right: 20px;
}

nav ul li {
    display : inline-block;
    line-height: 80px;
    margin : 0 5px;

}

nav ul li a {
    color : white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: #aaacaf;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float : right;
    line-height: 80px;
    margin-right :40px;
    cursor : pointer;
    display: none;
}

#check {
    display:none;
}

/*___________________________________________ABOUT SECTION________________________________________________*/

.container {
    box-sizing: border-box;
    margin: 0 auto;
}

#about {
    text-align: center;
    height: 500px;
}

.foto-toko {
    width: 230px;
    border: 13px solid #fff;
    border-radius: 3px;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    margin: 5px 30px;
    margin-right: 50px;
    float: left;
    margin-bottom: 25px;

}

.jumbotron-teks .judul {
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid rgb(11,11,51);
    padding-bottom: 10px;
}

#about .jumbotron {
    height: 370px;
    padding: 30px 30px 100px 30px;
    background-image:url("../img/background.jpg");
    background-size: cover;
    background-position-y: center; 
    text-align: left;
    font-size: 18px;
}

.jumbotron-teks {
    color: rgb(0, 0, 0);
    background-color: rgba(242, 150, 147, 0.7);
    line-height: 25px;
    padding: 40px;
    margin-top: 50px;
}

.jumbotron-teks p{
    margin-top: 30px;
    text-align: justify;
}



/*_____________________________RESPONSIVE MEDIA QUERIES________________________________*/

@media (max-width: 700px){
    .checkbtn {
        display: block;
    }
}

@media (max-width :952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) {
    .jumbotron {
        height: 500px;
        margin-bottom: 30px;
        text-align: left;
        padding: 80px;
    }

    .jumbotron-teks {
        margin-top: 100px;
        margin-right: 30px;
        padding: 40px;
    }

   .jumbotron-teks .judul {
        font-size: 40px;
    }

    .jumbotron-teks p {
        font-size: 25px;
        line-height: 35px;
        margin-top: 40px;
    }

    .foto-toko {
        float: left;
        margin-top: 20px;
        margin-left: 0px;
        width: 300px;
    }
}


@media screen and (min-width: 601px) {


    .jumbotron {
        height: 400px;
        padding: 50px 50px 100px 30px;
        margin-bottom: 30px;
        text-align: left;
    }

    .jumbotron-teks {
        padding: 50px;
        margin-top: 30px;
    }
    
    .jumbotron-teks p {
        font-size: 18px;
    }
    
    .jumbotron-teks .judul {
        font-size: 25px;
    }

    .foto-toko {
        float: left;
        width: 230px;
    }

}


@media screen and (max-width: 600px) {

    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #aaacaf;
        top : 80px;
        left : -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display : block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size : 20px;
    }
    a:hover, a.active{
        background: none;
        color:rgb(41, 37, 37);

    }
    #check:checked ~ ul{
        left:0;
    }



    .jumbotron {
        height: 540px;
        margin-bottom: 30px;
        padding: 30px 0 200px 0;
        text-align: center;
    }

    .jumbotron-teks {
        margin: 0 auto;
        padding: 30px;
    }

    .jumbotron-teks h1 {
        margin: 0;
    }

    .jumbotron-teks .judul {
        font-size: 20px;
        margin: 10px 0px;
    }

    .jumbotron-teks p {
        font-size: 15px;
        line-height: 18px;
    }

    .foto-toko {
        width: 180px;
        margin-left: 50px;
        float: none;
        
    }
}
